:root {
  --primary-color: #ff3d00;
  --secondary-color: #ffeb3b;
  --primary-font: "Share Tech Mono", monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font);
  color: #fff;
  height: 100vh;
  background: linear-gradient(to bottom, #252d44 50%, #000);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  padding: 8px 0 0 8px;
  width: 100%;
}

.link {
  color: #fff;
  text-decoration: none;

  display: flex;
  align-items: center;
  gap: 8px;

  transition: color 0.25s;

  & svg {
    width: 25px;
    height: 25px;

    & path {
      transition: fill 0.25s;
    }
  }

  &:hover {
    color: var(--primary-color);
    text-decoration: underline;
    & svg path {
      fill: var(--primary-color);
    }
  }
}

main {
  padding-inline: 64px;
  text-align: center;
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  font-size: 3rem;
  margin-bottom: 32px;
  text-transform: uppercase;
  background: linear-gradient(
    to right,
    var(--primary-color),
    var(--secondary-color),
    var(--primary-color)
  );
  background-size: 200% 200%;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: title-gradient 3s ease infinite;
}

.modes {
  display: flex;
  gap: 16px;
}

.mode-card {
  display: flex;
  flex-direction: column;
  gap: 4px;

  text-decoration: none;
  color: #fff;
  border: 1px solid #aaa;
  border-radius: 8px;
  width: 350px;
  height: 300px;
  overflow: hidden;

  cursor: pointer;
  transition: transform 0.25s;

  &:hover {
    transform: scale(1.05);
  }
}

.text-container {
  margin-bottom: 8px;
  padding: 8px 16px 0 16px;

  & h3 {
    margin-bottom: 8px;
  }
}

.description {
  color: #aaa;
  max-width: 66ch;
  font-size: 0.9rem;
}

.preview {
  width: 100%;
  height: 100%;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
